@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: black;
}

@font-face {
  font-family: 'gesist-thin';
  src: url('/fonts/Geist-Thin-BF6569491e12aff.otf');
}

@font-face {
  font-family: 'gesist-regular';
  src: url('/fonts/Geist-Regular-BF6569491e3eff1.otf');
}

@font-face {
  font-family: 'gesist-medium';
  src: url('/fonts/Geist-Medium-BF6569491e1c281.otf');
}

@font-face {
  font-family: 'gesist-semibold';
  src: url('/fonts/Geist-SemiBold-BF6569491e8c368.otf');
}

@font-face {
  font-family: 'gesist-bold';
  src: url('/fonts/Geist-Bold-BF6569491da5a14.otf');
}

@font-face {
  font-family: 'gesist-black';
  src: url('/fonts/Geist-Black-BF6569491cec591.otf');
}

@font-face {
  font-family: 'gesistMono';
  src: url('/fonts/GeistMono-Regular-BF65694d05471c0.otf');
}

/* =======> drawer style */
.drawer {
  width: 50% !important;
  background-color: #101014 !important;
}
@media screen and (max-width: 700px) {
  .drawer {
    width: 70% !important;
  }
}
@media screen and (max-width: 500px) {
  .drawer {
    width: 100% !important;
  }
}

.heroShadow {
  box-shadow: 0px 1px 2px 0px #1018280d;
}

.borderGradient {
  background: #060b12;
}

.gradient-wrapper {
  position: relative;
  background: linear-gradient(324.85deg, #435e78 73.16%, #19f490 130.49%);
}
